<div class="container text-center mt-5">
    <h2 class="mb-4">Show the weather forecast for Tallinn</h2>
    <form method="post" class="d-inline-block">
        <button type="submit" asp-controller="WeatherForecasts" asp-action="ShowWeather" class="btn btn-primary btn-lg">Show Weather</button>
    </form>
</div>
